[Unit]
Description=SSHFS dep home project
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=%h/bin/sshfs-mount dep:/home/mauajama/Sayooj /home/mauajama/Sayooj
ExecStop=-/bin/fusermount3 -u /home/mauajama/Sayooj
Restart=on-failure
RestartSec=15
TimeoutStartSec=30
TimeoutStopSec=15

[Install]
WantedBy=default.target
