[Unit]
Description=Mount Pranay Server via SSHFS
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=%h/bin/mount-pranay
RemainAfterExit=yes

[Install]
WantedBy=default.target
